.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin: 0 auto;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
}

.App {
    display: flex;
    flex-flow: column nowrap;
} 

button {
    height: 5rem;
    width: 5rem; 
    border-radius: 50%;
    background-color: rgb(28, 28, 119);
    color: white;
    font-size: 2rem;
    border: none;
    box-shadow: 0px 5px 0px 0px rgba(66,64,66,1);
    margin: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.operator-buttons {
    background-color: lightblue;
}

.special-buttons {
    background-color: #3366ff;
}

.number-buttons:nth-child(10) {
    flex-grow: 2;
    border-radius: 3rem;
}


.button-total {
    display: flex;
    margin: 2rem;
}


.special-container {
    display: flex;
}
.numbers-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-container {
    margin: 2rem;
}

